@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@100;300;400&display=swap");

:root {
  --primary-color: rgb(141, 141, 141);
  --secondary-color: rgb(200, 200, 200);
  --backgroundColor: rgba(0, 0, 0, 0.7);
}

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans serif;
  letter-spacing: 0.1em;
  color: white;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/woods-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  overflow-x: hidden;
}

.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  margin: 1em;
  padding: 10px;
  text-align: center;
  color: var(--secondary-color);
  font-size: xx-large;
  font-weight: 600;
}

#main-title {
  margin: unset;
}

.text {
  padding: 0 1%;
  height: 9rem;
  align-items: center;
  line-height: 1.5rem;
  font-size: 1.3rem;
}

#intro {
  position: relative;
  width: 80%;
  height: 100%;
  margin: auto;
  /* padding: 1.5em; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.paragraphs-slide {
  position: relative;
  padding: 30px 60px;
  margin: 1em;
  border: 0.5px groove var(--secondary-color);
  border-radius: 10px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Next & previous buttons */
.prev,
.next {
  font-size: 1.5rem;
  padding: 1rem;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  cursor: pointer;
}

/* Position the "prev button" to the left */
.prev {
  border-radius: 0 50% 50% 0;
  left: 0;
}

/* Position the "next button" to the right */
.next {
  border-radius: 50% 0 0 50%;
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: var(--backgroundColor);
}

.intro-text10 span {
  color: red;
  font-weight: bold;
}

.timer {
  display: none;
  background-color: green;
  width: 150px;
  padding: 1rem;
  position: fixed;
  right: 1rem;
  top: 1rem;
}

.character-selected {
  display: none;
  align-items: center;
  position: fixed;
  top: 1rem;
  left: 1rem;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  padding: 1%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.tarry-img,
.mary-img {
  width: 100px;
}

.character-name {
  width: 100%;
  text-align: center;
  color: var(--primary-color);
  font-size: larger;
  font-weight: bold;
  margin-top: 1rem;
}

.characters {
  display: flex;
  padding: 3%;
  padding-top: unset;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}

.character-img {
  margin: 0 2rem;
  height: 400px;
}

.back-btn {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  text-decoration: none;
  padding: 1rem 2rem;
  background-color: green;
  border-radius: 10px;
  z-index: 10;
}

.start-btn {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  text-decoration: none;
  padding: 1rem 2rem;
  background-color: red;
  border-radius: 10px;
  animation-name: startAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes startAnimation {
  0% {
    background-color: black;
  }
  50% {
    background-color: red;
  }
  100% {
    background-color: black;
  }
}

.option h3 {
  text-align: center;
  margin-top: 1em;
  color: var(--primary-color);
}

/* options style */
.options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* each option by itself */
.option {
  border: 1px solid var(--primary-color);
  padding: 1%;
  margin: 0 1%;
  transition: 0.2s ease-in-out all;
}

/* option after hover */
.option:hover {
  border: 1px solid black;
}

/* anchor style and background */
.option a {
  display: block;
  width: 400px;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Displaying the unwanted sections */
#characters,
#houses,
#home,
#living-room,
#bedroom,
#kitchen {
  display: none;
}

/* characters images */
.character-option:nth-child(1) a {
  background-image: url("../images/boy.png");
}
.character-option:nth-child(2) a {
  background-image: url("../images/girl.png");
}

/* houses images */
.house-option:nth-child(1) a {
  background-image: url("../images/houses/house2.png");
}
.house-option:nth-child(2) a {
  background-image: url("../images/houses/hut.png");
}

/* home images */
.home-option:nth-child(1) a {
  background-image: url("../images/green-door.png");
}
.home-option:nth-child(2) a {
  background-image: url("../images/red-door.png");
}
.home-option:nth-child(3) a {
  background-image: url("../images/green-door.png");
}

/* kitchen images */
.kitchen-option:nth-child(1) a {
  background-image: url("../images/kitchen/kitchen-cupboards.png");
}
.kitchen-option:nth-child(2) a {
  background-image: url("../images/kitchen/kitchen-fridge.png");
}
.kitchen-option:nth-child(3) a {
  background-image: url("../images/kitchen/kitchen-dishwasher.png");
}

/* bedroom images */
.bedroom-option:nth-child(1) a {
  background-image: url("../images/bedroom/bedroom-bed.png");
}
.bedroom-option:nth-child(2) a {
  background-image: url("../images/bedroom/bedroom-drawer.png");
}
.bedroom-option:nth-child(3) a {
  background-image: url("../images/bedroom/bedroom-closet.png");
}

/* living room images */
.living-room-option:nth-child(1) a {
  background-image: url("../images/salon/salon-sofa1.png");
}
.living-room-option:nth-child(2) a {
  background-image: url("../images/salon/salon-table.png");
}
.living-room-option:nth-child(3) a {
  background-image: url("../images/salon/salon-bookshelf.png");
}

.trap {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid red;
  background-color: var(--backgroundColor);
}

.bear-attack img {
  width: 500px;
}

.try-again-btn {
  display: none;
  width: fit-content;
  position: fixed;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  padding: 1rem 2rem;
  background-color: red;
  border-radius: 10px;
  z-index: 20;
}

.trap h1,
.trap h2 {
  font-weight: 300;
  padding: 1%;
}

.trap .trap-gameover {
  font-size: 45px;
  margin-top: 50px;
  background-color: rgba(255, 0, 0, 0.2);
  border: 2px solid red;
  border-radius: 10px;
  padding: 2%;
  position: absolute;
  top: 50%;
  left: 50%;
  color: red;
  transform: translate(-50%, -50%);
}

.trap img {
  animation-name: trapAnimation;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}

.empty-selection {
  background-color: var(--backgroundColor);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}

.empty-selection h1,
.empty-selection h2 {
  font-weight: 300;
  padding: 2%;
}

.empty-selection h1 {
  font-size: 100px;
}
.empty-selection h2 {
  font-size: 40px;
}

@keyframes trapAnimation {
  0% {
    width: 0%;
  }
  5% {
    width: 5%;
  }
  10% {
    width: 10%;
  }
  15% {
    width: 15%;
  }
  20% {
    width: 20%;
  }
  25% {
    width: 25%;
  }
  30% {
    width: 30%;
  }
  35% {
    width: 35%;
  }
  40% {
    width: 40%;
  }
  45% {
    width: 45%;
  }
  50% {
    width: 50%;
  }
  55% {
    width: 55%;
  }
  60% {
    width: 60%;
  }
  65% {
    width: 65%;
  }
  70% {
    width: 70%;
  }
  75% {
    width: 75%;
  }
  80% {
    width: 80%;
  }
  85% {
    width: 85%;
  }
  90% {
    width: 90%;
  }
  95% {
    width: 95%;
  }
  100% {
    width: 100%;
  }
}

/* game-over & congrats style */
.game-over {
  display: none;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0%;
  left: 0%;
  transform: translate(-50% -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.774);
  border: 1px solid red;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.game-over h1 {
  font-size: 80px;
}
.game-over h1,
.game-over h3 {
  color: rgb(184, 0, 0);
  font-family: Roboto, sans serif;
  font-weight: 400;
  padding: 1%;
}
.game-over h1 {
  font-size: 80px;
}
.game-over h3 {
  font-weight: 400;
  font-size: 40px;
}
.game-over h3:last-child {
  color: red;
  font-size: 90px;
  margin-bottom: 10rem;
  animation-name: game-over-Animation;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  background-color: rgba(255, 0, 0, 0.1);
  border-radius: 10px;
}

@keyframes game-over-Animation {
  0% {
    font-size: 0px;
    transform: rotate(0deg);
  }
  25% {
    font-size: 30px;
    transform: rotate(90deg);
  }
  50% {
    font-size: 50px;
    transform: rotate(180deg);
  }
  75% {
    font-size: 70px;
    transform: rotate(270deg);
  }
  100% {
    font-size: 90px;
    transform: rotate(360deg);
  }
}

.congrats {
  display: none;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.774);
  z-index: 10;
}
.congrats img {
  width: 400px;
}

.congrats h1,
.congrats h3,
.congrats h4 {
  color: darkgoldenrod;
  font-family: Roboto, sans serif;
  font-weight: 400;
  padding: 1%;
}
.congrats h1 {
  font-size: 80px;
}
.congrats h3 {
  font-weight: 400;
  font-size: 40px;
}

.congrats h4 {
  font-size: 30px;
  margin-bottom: 40px;
}

.congrats .treasure {
  display: flex;
  justify-content: center;
  align-items: center;
}

.congrats .treasure img:first-child {
  width: 150px;
}

/* ipad screen */
@media (max-width: 1100px) {
  .title {
    font-size: x-large;
  }
  .paragraphs-slide {
    width: 70%;
  }
  .text {
    line-height: 1rem;
    font-size: medium;
  }
  .character-img {
    margin: 0 2rem;
    height: 300px;
  }
  .character-selected img {
    width: 70px;
  }
  .options {
    justify-content: center;
  }
  .option {
    margin: 2%;
  }
  .option a {
    width: 300px;
    height: 300px;
  }
  .empty-selection h1 {
    font-size: 50px;
    padding-bottom: 1rem;
  }
  .empty-selection h2 {
    font-size: 20px;
  }
  .game-over h3:last-child {
    font-size: 60px;
  }
}

@media (max-width: 686px) {
  .timer {
    position: sticky;
    left: 100vw;
  }
}

/* phone screen */
@media (max-width: 600px) {
  .option a {
    width: 250px;
    height: 250px;
  }
  .paragraphs-slide {
    padding: 80px;
  }
  .options {
    flex-direction: column;
  }
  .options h3 {
    font-size: medium;
  }
  .start-btn {
    right: 50%;
    transform: translate(50%, 0);
  }
  .character-selected {
    opacity: 0.5;
  }
  .character-selected img {
    width: 50px;
  }
  .bear-attack img {
    width: 300px;
  }
  .trap .trap-gameover {
    font-size: xx-large;
    margin-top: 80px;
  }
  .congrats img {
    width: 200px;
  }
  .congrats .treasure img:first-child {
    width: 100px;
  }
  .congrats h1 {
    font-size: 40px;
  }
  .congrats h3 {
    font-weight: 400;
    font-size: 20px;
  }
  .congrats h4 {
    font-size: 15px;
    margin-bottom: 40px;
  }
  .game-over h1 {
    font-size: 40px;
  }
  .game-over h3 {
    font-size: 20px;
  }
  .game-over h3:last-child {
    font-size: 30px;
  }
  @keyframes game-over-Animation {
    0% {
      font-size: 0px;
      transform: rotate(0deg);
    }
    25% {
      font-size: 10px;
      transform: rotate(90deg);
    }
    50% {
      font-size: 15px;
      transform: rotate(180deg);
    }
    75% {
      font-size: 20px;
      transform: rotate(270deg);
    }
    100% {
      font-size: 30px;
      transform: rotate(360deg);
    }
  }
}
